.footer-menu {
    width: 100%;
    height: 50px;
    background-color: #1720a1;
    bottom: 0;
    position:fixed;
    
}

.text-footer {
    color: white;
    margin: 0 auto;
    padding: 10px 0; 
    text-align: center;
}