html, body {
  margin: 0;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

body {
  background-image: url("../Resources/bg-color.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ededed;
  height: 100%;
  background-attachment: fixed; /* Hace que el fondo sea estático */
}

.form-div-bg {
  width: 400px;
  height: 540px;
  position: fixed;
  top: 12%;
  left: 13%;
  background-color: #C6C6C6;
  border-radius: 4px;
}

.form-div {
  width: 400px;
  height: 540px;
  position: fixed;
  top: 10%;
  left: 15%;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.title {
  width: 200px;
  margin: auto;
  padding-top: 40px;
}

.text-title {
  color: #3F337B;
  text-align: center;
}

.form {
  margin: auto;
  width: 300px;
  justify-content: center;
}

.input-form {
  background-color: #fcfcfc;
  width: 295px;
  padding: 5px;
  margin: 20px 0 5px 0;
  border: none;
  border-bottom: 2px solid #3F337B;
  text-align: center;
  outline: none;
}

.label-input {
  margin: auto;
  text-align: center;
  color: #3F337B;
}

.login-button {
  color: white;
  background-color: #3F337B;
  border-color: rgb(0, 136, 255);
  width: 70px;
  height: 20px;
  border-radius: 10px;
  margin: 50px auto 20px auto;
  text-decoration: none;
  padding: 5px 10px 5px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background-color: #5a48b1;
  cursor: pointer;
}

.login-button:active {
  background-color: #7560dc;
  cursor: progress;
}

.forgot-pass-link {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
}

.logo-div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.logo {
  max-width: 500px;
  position: relative;
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 1280px) {
  .form-div, .form-div-bg {
      width: 90%;
      height: auto;
      top: 5%;
      left: 5%;
      position: relative;
  }

  .logo {
      width: 80%;
      max-width: 300px;
      margin: 20px auto;
  }

  .input-form {
      width: 90%;
  }

  .login-button {
      width: 100px;
  }
}

@media (max-width: 768px) {
  .logo {
      width: 70%;
  }

  .input-form {
      width: 85%;
  }

  .login-button {
      width: 90px;
  }
}

@media (max-width: 480px) {
  .logo {
      width: 60%;
  }

  .input-form {
      width: 80%;
  }

  .login-button {
      width: 80px;
  }
}

.card-title {
  font-size: 30px;
}

.card {
  border-left: 7px rgb(197, 190, 190) solid;
  border-bottom: 7px rgb(197,190,190) solid;
  min-height: 350px;
}

.table-responsive {
  margin: 20px;
}